html, body, #container{
 height: 100%;
 margin: 0;
}
#container{
 width: 800px;
 margin: auto;
}
#main{
 min-height: 100%;
 margin-bottom: -100px;
 background: #9c0;
}
#footer{
 height: 100px;
 background: #f60;
}
#all{padding-bottom: 100px}

