/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.08.2016, 11:42:59
    Author     : Влад
*/

#x { color: red }
b + em { color: green }
div em { color: blue }
div#y > em { color: orange }



header {
    margin-top: 20px;
    background-color: red;
    height: 40px;
    cursor: progress;
}

.left {
    float:left;
    background-color: yellow;
    width: 200px;
    height: 300px;
}

.right {
    float:right;
    background-color: orange;
    width: 200px;
    height: 300px;
}

footer {
    clear: both;
    background-color: green;
    height: 40px;
}

.block1 {
    font-size: 20px;
    text-align: center;
}

/*vert align*/
.block1 *:before { 
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";    
}


article {    
    border: black solid 1px;
    margin-left: 200px;
    margin-right: 200px;
}
progress {
    width: 400px;
}
.links {
    width: 30px;
    height: 30px;
    background-color: aqua;
    border:black solid thin;
    display: none;
}
.tr1 {
    background-color: deeppink;
}
.tr2 {
    background-color: orange;
}
.tr3 {
    background-color: red;
}
div:target {
    display: block;
}

.gradient {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  text-align: center;  
  font-weight: bolder;  
}


/*body > *:first-child {
    background: red;
}*/

