/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.08.2016, 11:42:59
    Author     : Влад
*/

#x { color: red }
b + em { color: green }
div em { color: blue }
div#y > em { color: orange }

fieldset {
    display:inline-block;
}

input:not(:last-child) {
    display:block;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

input:focus:not(:last-child) {
    border-color:#0088cc;
    box-shadow: inset 0px 0px 7px 0px rgba(0,136,204,0.31), 0px 0px 5px 0px rgba(0,0,0,0.41);    
}

header {
    margin-top: 20px;
    background-color: red;
    height: 40px;
    cursor: progress;
}

.left {
    float:left;
    background-color: yellow;
    width: 200px;
    height: 300px;
}

.right {
    float:right;
    background-color: orange;
    width: 200px;
    height: 300px;
}

footer {
    clear: both;
    background-color: green;
    height: 40px;
}

.block1 {
    font-size: 20px;
    text-align: center;
}

.block1 *:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

article {    
    border: black solid 1px;
    margin-left: 200px;
    margin-right: 200px;
}



/*body > *:first-child {
    background: red;
}*/

